<header>
    <div class="navbar bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style= "font-size:35px; color:white;"class="fas fa-cart-arrow-down">&nbsp;
            </i>
            <strong style="color:whitesmoke; font-size:20px;font-family:  Verdana, Geneva, Tahoma, sans-serif;">V-Mart</strong>
            
        </div> 
        <button routerLink="cart" class="byn btn-primary">
            <i style="font-size:25px;" class="fas fa-cart-plus"></i>
            <div style="font-size:10px;"class="badge bg-danger">{{totalItem}}</div>
        </button>
    </div>
</header>